// It's highly recommended to change the default colors
// to match your app's branding.

$primary: #a437c9;
$secondary: #7436c9;
$accent: #9c27b0;

$dark: #1d1d1d;

$positive: #63c936;
$negative: #c9363b;
$info: #a437c9;
$warning: #c99636;

@import '~quasar-variables-styl';
